<!DOCTYPE html>
<html>
  <head>
    <title>TwKadaiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header class ="header ">
     <h2>My Tweet</h2>
      <div class ="header-log">
        <%= link_to "ツイート", "/top" %>
        <%= link_to "投稿一覧", "/posts/index" %>
      </div>
   </header> 
   <%= yield %>
        <%= image_tag "/bird.png",class: "sized"%>
   <footer class ="footer">
      <div class ="footer-log">Copyright © 2018 DIVE INC All RIGHTS RESERVED.</div>
   </footer>
  </body>
</html>


 